* {
  box-sizing: border-box;
}
.App {
  height: 100vh;
}
body {
  background: #ddd;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.notes {
  margin-top: 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 650px;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.3);
  border-radius: 20px;
  background-color: #fff;
  padding: 20px
}
.notes > h2 {
  color: #4A4E74;
}
.task-inputs {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.task-input {
  height: 60px;
  width: 280px;
  padding: 20px;
  border: 2px solid #bbaaaa;
  border-radius: 3px;
  transition: all 1s;
  font-size: 15px;
}

.tasks-list {
  list-style: none;
  margin-top: 30px;
  padding-left: 0;
}
.tasks-list > li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 10px;
  border-top: 2px solid #eee;
  width: 350px;
}
.task-txt {
  padding-bottom: 3px;
}
.task-icon {
  cursor: pointer;
}

.content {
  display: flex;
  align-items: center;
  gap: 40px;
}
.new-note {
  cursor: pointer;
  background-color: #4A4E74;
  border: none;
  color: white;
  border-radius: 3px;
  height: 60px;
  width: 60px;
  font-size: 30px;
}
.delete {
  cursor: pointer;
}
footer {
  text-align: center;
  color: #4A4E74;
  font-size: 1.5em;
}

.btn-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  flex-grow: 1;
}
.btn {
  border: none;
  cursor: pointer;
  background-color: #4A4E74;
  border-radius: 5px;
  color: white;
  padding: 5px;
  flex-grow: 1;
  min-width: 130px;
  transition: all 0.2s ease-in-out;
}
.btn:hover {
  opacity: 0.7;
}